.game-5way {
  border-radius: 1rem;
  background-color: #fff;
  padding: 1rem 2rem 1.6rem;
  display: none;
  grid-template-columns: repeat(10, 1fr);
  justify-items: center;
  align-items: center;
  row-gap: 2rem;
  column-gap: 0.5rem;
}
.choice-5way,
.left-5way,
.right-5way {
  font-size: 7rem;
  grid-column: span 5;
}

.my-choice-5way {
  transform: rotate(90deg);
}
.bot-choice-5way {
  transform: rotate(-90deg);
}

.score-5way {
  grid-column: span 5;
  font-size: 2rem;
}
.lets-play-5way {
  grid-column: span 10;
  font-size: 3rem;
}
.choice-btn-5way {
  border-radius: 500px;
  cursor: pointer;
  grid-column: span 2;
  background-color: #fff;
  border: none;
  padding: 1rem;
  transition: all 0.4s;
}
.choice-btn-5way:hover {
  background-color: #e9ecef;
}
.left-5way {
  transform: scaleX(-1) rotate(-90deg);
  animation: shakeLeft 1s linear;
}
.right-5way {
  transform: rotate(-90deg);
  animation: shakeRight 1s linear;
}
@keyframes shakeRight {
  0% {
    transform: rotate(-95deg);
  }
  20% {
    transform: rotate(-85deg);
  }
  40% {
    transform: rotate(-95deg);
  }
  60% {
    transform: rotate(-85deg);
  }
  80% {
    transform: rotate(-95deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}
@keyframes shakeLeft {
  0% {
    transform: scaleX(-1) rotate(-95deg);
  }
  20% {
    transform: scaleX(-1) rotate(-85deg);
  }
  40% {
    transform: scaleX(-1) rotate(-95deg);
  }
  60% {
    transform: scaleX(-1) rotate(-85deg);
  }
  80% {
    transform: scaleX(-1) rotate(-95deg);
  }
  100% {
    transform: scaleX(-1) rotate(-90deg);
  }
}
.scale-1 {
  transform: scaleX(-1);
}
